.review-body-container {
    background-color: rgba(8, 1, 1, 0.8);
    max-width: 780px;
    width: calc(100% - 20px);
    margin: auto;

}

.review-body {
    font-size: 0.75em;
    padding: 10px;
    text-align: left;
}