.pic-review {
    grid-area: pic;
  }
  .title-review { 
    grid-area: title; 
  }
  
  .designer-review { 
    grid-area: designer; 
  }
  
  .category-review { 
    text-align: right;
    grid-area: category;
    font-size: 0.75em;
    padding: 0px;
  }

  .created-review {
    text-align: center;
    grid-area: created;
    font-size: 0.9em;
  }

  .owner-review {
    text-align: left;
    grid-area: owner;
  }
  
  .grid-review-display {
    border-radius: 4px;
    margin-inline: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      'pic title title designer'
      'pic category category category'
      'pic owner owner created';
    background-color: transparent;
    padding: 10px;
  }
  
  .grid-review-display > div {
    background-color: rgba(8, 1, 1, 0.8);
  }

  .review-card-title {
    text-align: left;
    font-size: 1.25em;
    padding: 0.5em;
  }

  .review-card-designer {
    text-align: right;
    font-size: 1em;
    padding: 0.5em;
  }

  .review-card-owner {
    text-align: left;
    font-size: 0.5em;
    padding: 0.5em;
  }

  .review-card-created {
    text-align: right;
    font-size: 0.75em;
    padding: 0.5em;
  }

  .pic-review > img {
    height: 100%;
    width: 100%;
  }

  .review-list {
    margin: 0;
    padding: 0;
  }



