  .grid-comment-display {
    font-size: 0.65em;
    border: solid;
    max-width: 800px;
    margin-inline: auto;
    display: flex;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      'title title designer'
      'category category link'
      'owner owner created';
    background-color:rgba(8, 1, 1, 0.8);
    padding: 10px;
  }
  
  .grid-review-display > div {
    font-size: 0.75em;
    background-color: rgba(8, 1, 1, 0.8);
  }
